{include file="common/mainHead"/}
<div class="admin-main fadeInUp animated">
    <blockquote class="layui-elem-quote">
        <a href="{:url('add')}" class="layui-btn layui-btn-small">
            <i class="fa fa-plus"></i> {:lang('add')}友链
        </a>
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>友情链接</legend>
        <div class="layui-field-box table-responsive">
            <table class="layui-table table-hover">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>链接名称</th>
                    <th>链接URL</th>
                    <th>{:lang('qq')}</th>
                    <th>{:lang('add')}{:lang('time')}</th>
                    <th>{:lang('order')}</th>
                    <th>{:lang('status')}</th>
                    <th>操作</th>
                </tr>
                </thead>
                <!--内容容器-->
                <tbody id="con">
                {volist name="$link" id="v"}
                <tr>
                    <td>{$v.link_id}</td>
                    <td>{$v.name}</td>
                    <td><a href="{$v.url}" target="_blank">{$v.url}</a></td>
                    <td>{$v.qq}</td>
                    <td>{$v.addtime|date='Y-m-d h:i:s',###}</td>
                    <td>{$v.sort}</td>
                    <td>
                        {if condition='$v["open"] eq 1'}
                        <a class="red" href="javascript:;" onclick="return stateyes('{$v.link_id}');" title="已开启">
                            <div id="zt{$v.link_id}">
                                <button class="layui-btn layui-btn-warm layui-btn-mini">状态开启</button>
                            </div>
                        </a>
                        {else/}
                        <a class="red" href="javascript:;" onclick="return stateyes('{$v.link_id}');" title="已禁用">
                            <div id="zt{$v.link_id}">
                                <button class="layui-btn layui-btn-danger layui-btn-mini">状态禁用</button>
                            </div>
                        </a>
                        {/if}
                    </td>
                    <td>
                        <a href="{:url('edit',['link_id'=>$v['link_id']])}" class="layui-btn layui-btn-mini">{:lang('edit')}</a>
                        <a href="javascript:;" onclick="return del('{$v.link_id}')" class="layui-btn layui-btn-mini layui-btn-danger">{:lang('del')}</a>
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
{include file="common/mainFoot"/}
<script>
    layui.use(['form', 'layer'], function() {
        var form = layui.form(), layer = layui.layer;
    });
    function stateyes(id) {
        $.post('{:url("linkState")}', {id: id}, function (data) {
            if (data.status) {
                if (data.info == '状态禁止') {
                    var a = '<button class="layui-btn layui-btn-danger layui-btn-mini">状态禁用</button>'
                    $('#zt' + id).html(a);
                    layer.msg(data.info, {icon: 5});
                    return false;
                } else {
                    var b = '<button class="layui-btn layui-btn-warm layui-btn-mini">状态开启</button>'
                    $('#zt' + id).html(b);
                    layer.msg(data.info, {icon: 6});
                    return false;
                }
            }else{
                layer.msg(data.msg,{time:1000,icon:2});
                return false;
            }
        });
        return false;
    }
    function del(id) {
        layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
            layer.close(index);
            window.location.href = "{:url('del')}?link_id=" + id;
        });
    }
</script>