{include file="common/mainHead"/}
<div class="admin-main fadeInUp animated">
    <blockquote class="layui-elem-quote">
        <form class="layui-form" style="float:left;" action="{:url('index')}" method="post">
            <div class="layui-form-item" style="margin:0;">
                <div class="layui-input-inline">
                    <input type="text" name="key" id="key" class="layui-input" placeholder="{:lang('pleaseEnter')}关键字！" value="{$testkey}" >
                </div>
                <div class="layui-form-mid layui-word-aux" style="padding:0;">
                    <button type="submit" class="layui-btn"><i class="fa fa-search" aria-hidden="true"></i> {:lang('search')}</button>
                    <a href="{:url('index')}" class="layui-btn">显示全部</a>
                </div>
            </div>
        </form>
        <a href="{:url('add')}" class="layui-btn" style="float:right;"><i class="fa fa-plus" aria-hidden="true"></i>{:lang('add')}{:lang('ad')}</a>
        <div style="clear: both;"></div>
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>{:lang('ad')}管理</legend>
        <div class="layui-field-box table-responsive">
            <form class="layui-form layui-form-pane">
                <table class="layui-table table-hover">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>广告名称</th>
                        <th>所属位置</th>
                        <th>{:lang('add')}{:lang('time')}</th>
                        <th>{:lang('order')}</th>
                        <th>{:lang('status')}</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <!--内容容器-->
                    <tbody id="con">
                    {volist name="$list" id="v"}
                    <tr>
                        <td>{$v.ad_id}</td>
                        <td>{$v.name}{if condition="$v.pic"}<img src="__ADMIN__/images/image.gif">{/if}</td>
                        <td>{$v.typename}</td>
                        <td>{$v.addtime|date='Y-m-d h:i',###}</td>
                        <td><input name="{$v.ad_id}" value="{$v.sort}" class="list_order"/></td>
                        <td>
                            {if condition='$v["open"] eq 1'}
                            <a class="red" href="javascript:;" onclick="return stateyes('{$v.ad_id}');" title="已开启">
                                <div id="zt{$v.ad_id}">
                                    <button class="layui-btn layui-btn-warm layui-btn-mini">状态开启</button>
                                </div>
                            </a>
                            {else/}
                            <a class="red" href="javascript:;" onclick="return stateyes('{$v.ad_id}');" title="已禁用">
                                <div id="zt{$v.ad_id}">
                                    <button class="layui-btn layui-btn-danger layui-btn-mini">状态禁用</button>
                                </div>
                            </a>
                            {/if}
                        </td>
                        <td>
                            <a href="{:url('edit',['ad_id'=>$v['ad_id']])}" class="layui-btn layui-btn-mini">{:lang('edit')}</a>
                            <a href="javascript:;" onclick="return del('{$v.ad_id}')" class="layui-btn layui-btn-mini layui-btn-danger">{:lang('del')}</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7">
                            <button type="button" class="layui-btn  layui-btn-small" lay-submit="" lay-filter="sort">{:lang('order')}</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </fieldset>
</div>
{include file="common/mainFoot"/}
<script>
    layui.use(['form', 'layer'], function() {
        var form = layui.form(), layer = layui.layer;
    });
    function stateyes(id) {
        $.post('{:url("editState")}', {id: id}, function (data) {
            if (data.status) {
                if (data.info == '状态禁止') {
                    var a = '<button class="layui-btn layui-btn-danger layui-btn-mini">状态禁用</button>'
                    $('#zt' + id).html(a);
                    layer.msg(data.info, {icon: 5});
                    return false;
                } else {
                    var b = '<button class="layui-btn layui-btn-warm layui-btn-mini">状态开启</button>'
                    $('#zt' + id).html(b);
                    layer.msg(data.info, {icon: 6});
                    return false;
                }
            }else{
                layer.msg(data.msg,{time:1000,icon:2});
                return false;
            }
        });
        return false;
    }
    function del(id) {
        layer.confirm('你确定要删除吗？', {icon: 3}, function (index) {
            layer.close(index);
            window.location.href = "{:url('del')}?ad_id=" + id;
        });
    }
    //排序提交
    layui.use(['form', 'layer'], function() {
        var form = layui.form(),layer = layui.layer;
        form.on('submit(sort)', function(data){
            $.post("{:url('adOrder')}",data.field,function(res){
                if(res.code > 0){
                    layer.msg(res.msg,{time:1000,icon:1},function(){
                        location.href = res.url;
                    });
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            })
        });
    });
</script>